
  
.checkin
  color: #555

.checkin__wrapper
  background-color: #fff
  // +padding(null 25px)


.checkin__info
  background-color: $orange-light
  +padding(16px 25px)
  span
    margin-right: 35px
    white-space: 
    display: inline-block

  +max(767)
    display: flex
    flex-direction: column
    +padding(12px 20px)
    span 
      margin-right: 0

.check-step1
  .row.radio
    +padding(16px null)
    line-height: 1.8
    flex-wrap: wrap

  .radio_unit
    margin-right: 15px

  
.g-recaptcha
  margin-right: auto

+max(1200)
  .row.submit
    width: 100%
    flex-wrap: wrap
    justify-content: center
    
  .g-recaptcha
    // +margin(null auto)
    margin-right: 0
    margin-bottom: 25px
    // flex: 0 0 auto

  .g-recaptcha + div
    width: 100%
    +fc


+max(767)
  .check-step1
    .btn-main
      width: 110px
+max(350)
  .g-recaptcha
    transform: scale(0.85)
    transform-origin: 50%

.step1-result
  border-bottom: 1px solid #cccccc
  width: 100%
  +padding(30px 40px)
  color: #777
  +f
  flex-wrap: wrap
  .row
    width: 50%
    padding-left: 110px
    position: relative

  span:first-child
    width: 110px
    text-align: justify
    +position(absolute, 0 null null 0)

    &:after
      content: ""
      display: inline-block
      width: 100%
      
.check-step2
  +padding(30px null 15px)

  .row.line
    padding-left: 80px
    position: relative

  .sub
    color: #777
    position: absolute
    left: 0
    font-size: 15px

  .tel
    select,input
      width: 200px
    span
      font-size: 15px
      +margin(null 15px)
    span.xl
      margin-left: 20px

  .addr
    white-space: nowrap

    >*:nth-child(2)
      width: 160px
    >*:nth-child(3)
      width: 200px
    >*:nth-child(4)
      width: 250px
    >*:nth-child(4) ~ input
      width: 60px

    >*
      margin-right: 10px
    
  .birth .std
    max-width: 810px
    margin-right: 20px

  .contact
    display: inline-flex
    align-items: flex-start
    position: relative
    line-height: 45px

    > .f15
      color: #777

    .radio_wrapper


    label
      display: block
      margin-bottom: -10px


    .radio_text
      position: absolute
      white-space: nowrap
      right: 0
      top: 0
      transform: translateX(100%)
      input
        width: 265px




.check__privacy
  background-color: $orange-light
  +padding(15px 22px)
  

// complete
.title-division
  span 
    color: #555
    
.complete
  .border
    border-bottom: 1px solid #ccc
  .row.between
    justify-content: space-between

.check-step2
  background-color: #ccc

#modal-privacy
  background-color: #fff
  max-width: 1000px
  color: #555
  border-radius: 10px
  .b
    color: #222
  span
    display: block

  .btn
    +margin(null auto)
    display: block
  .test
    height: 400px

  // .scrollbarY
  //   max-width: 500px


#modal-cancel,
#modal-cross
  background-color: #fff
  max-width: 600px
  width: 90vw
  color: #555
  border-radius: 6px
  overflow: hidden
  
  .cross_bottom
    border-top: 1px solid #ccc
    +fc

  .cross_head
    background-color: $orange
    +padding(17px 25px)

  .btn
    min-width: 0
    width: 150px