

ul.list
  max-width: 1300px
  +margin(null auto)
  color: #4D4D4D
  a
    white-space: normal
    word-break: break-all

  > li
    +circle( 8px )
    // &:before
    //   margin-bottom: 2px

    padding-left: 19px
    position: relative
    &:before
      +position(absolute, 13px null null 0)

    &:nth-child(odd):before
      background-color: $orange-dark

    &:nth-child(even):before
      background-color: $green


.link
  +hover-tint($blue)

    
.index__landing
  min-height: 800px
  background: center / cover


  .title
    letter-spacing: 4px
    text-align: center


  .flow
    text-align: center
    border-bottom: 1px solid #ddd
    padding-bottom: 70px

    svg
      max-width: 990px
      width: 100%

    // +max(768)
    //   svg
    //     overflow: visible
    //     height: 52vw
    //     transform: scale(2.5)
    //     transform-origin: 50% 50%
    //   .circle1,
    //   .circle2,
    //   .arrow1,
    //   .arrow2
    //     transform: translate(30%, -60%)

    //   .circle3,
    //   .circle4,
    //   .circle5,
    //   .arrow3,
    //   .arrow4
    //     transform: translate(-20%, 60%)
    



.index__catalog
  background-color: #f6f6f6

.index__filter
  font-weight: bold
  span 
    font-size: 20px
    +margin(null 20px)

  .btn
    width: 150px
    margin-right: 12px
    border: 1px solid $orange
    background-color: #fff

    &:hover,
    &.active
      background-color: $orange
      color: #fff

  +max(767)
    span 
      display: block
      +margin(null null 15px 0)

    .btn
      width: calc(33% - 8px)
    .btn:last-child
      margin-right: 0
      

.card-wrapper
  +f
  align-items: stretch
  flex-wrap: wrap
  +margin(null -7px )

  .card 
    width: calc(25% - 14px)
    +margin(null 7px 14px)
    +padding(22px 8px)
    +fc
    flex-direction: column
    background-color: #fff
    position: relative
    font-weight: 500
    img
      max-width: 70%
      flex-shrink: 0

  .title
    font-size: 24px
    margin-top: 16px
    letter-spacing: 1px
    transition: 0.3s color
    margin-bottom: auto
    text-align: center

  .card:hover .title
    color: $orange
    transition: 0.3s color

  .toggle
    background-color: #fff
    +position(absolute, null 0 0 null )
    transform: translateY(100%)
    z-index: 1
    +fc
    flex-direction: column
    +size(100%, 0)
    overflow: hidden
    
  .btn
    opacity: 0
    background-color: #fff
    width: 260px
    max-width: 80%
    margin-bottom: 8px
    &:hover
      background-color: $orange
      color: #ffffff


  +max(1365)
    .title
      font-size: 20px

  +max(991)
    .card 
      width: calc(33% - 14px)

  +max(767)
    +margin(null -5px )
    .title
      font-size: 16px

    .card 
      width: calc(33% - 10px)
      +margin(null 5px 10px)
      +padding(12px null 14px)
      img
        max-width: 80%
    .toggle
      +padding(null 12px)
    .btn
      font-size: 15px
      height: 40px
      max-width: 100%
      border-radius: 2px

  +max(450)
    .card 
      width: calc(50% - 14px)

  +max(350)
    .title
      font-size: 14px
      margin-top: 10px
    .btn
      font-size: 13px


.flow
  .hide
    opacity: 0

  .c1_sun path
    opacity: 0