
  
.table.query
  td.lg
    width: 18%
  td.sm    
    width: 240px


  th,
  td
    +padding(12px null )
  td
    vertical-align: middle

  .cancel
    background-color: $red
    color: #ffffff
    border-radius: 99px
    +padding(null 40px)
    height: 40px
    +hoverBgc(shade($red, 20%))
