
extends ./include/layout.pug

block content

  include ./include/nav.pug

  .checkin

    #dashboard
    
      .dashboard__main
        .dashboard__row

          .icon-1
          span.f20.wide20 基隆長庚紀念醫院

          .dashboard__btn.f18
            a(href="register.html") 網路掛號
            a(href="query.html") 掛號查詢
            a(href="progress.html") 看診進度
            a(href="info.html") 掛號說明

          select
            option(disabled selected hidden) 各院區掛號服務
            option(value="") 基隆長庚紀念醫院
            option(value="") 基隆長庚紀念醫院
            option(value="") 基隆長庚紀念醫院
            option(value="") 基隆長庚紀念醫院
            option(value="") 基隆長庚紀念醫院

    .section
      .container

        .pt40.pr24.pl24.md-noPadding

          .title-division.row.mb24
            .f24.b.pl20.orange.wide10 基隆長庚
            .curve.f18.wide10 一般內科
            h2.sr-only 門診掛號資料

          .box-wrapper.mb40.pt20.pb20
            .f20.pb8.pt12.wide10.b 請輸入個人門診掛號資料

            ul.list.nostyle.lh20
              li 複診：請擇一輸入身分證字號、居留證號、病歷號，並請確實填寫。
              li 初診：請擇一輸入身分證字號、居留證號、護照號碼、入出境許可證號，並請確實填寫。

    +sction-checkin

      .checkin__info.f20.lh18
        span 基隆長庚 / 一般內科
        span 預約時間：2018/07/11（三）  下午
        span 預約醫師：27510 陳俊宇

      form(action="new.html" id="profile").check-step1.pr40.pl40.pb32.md-noPadding
        .row.radio.mt4
          
          label.radio_unit
            input(type="radio", name="checkin" , checked)
            span 身分證字號
          label.radio_unit
            input(type="radio", name="checkin")
            span 病歷號
          label.radio_unit
            input(type="radio", name="checkin")
            span 護照號碼
          label.radio_unit
            input(type="radio", name="checkin")
            span 居留證號
          label.radio_unit
            input(type="radio", name="checkin")
            span 入出境許可證號
        
        input(type="tel", placeholder="請輸入證號").std.mb40.w100

        .row.submit
          .g-recaptcha(data-sitekey="6LfQeoMUAAAAAOktn9YIwQ5smXEg3bwq_CeseQd1")
          div
            a(href="#modal-cross" data-lity).btn.f18.mr20.btn-main 送出查詢
            //- button(type="submit").btn.f18.mr20.btn-main 送出查詢
            button(type="reset").btn.f18.btn-main 重新填寫

    #modal-cross.lity-hide
      .cross_head
        img(src="./styles/images/0-logo-white2.png", alt="長庚醫療財團法人")

      .pl40.pr40.pt32
        .f20.red.b.mb24 跨院區資料整合說明

        .text.f18.mb48.wide10 本體系（高雄）長庚紀念醫院曾有以身分證A123456789就醫之紀錄，您是否同意以讓院區已有之病歷號辦理掛號？如您選擇「確定」，該院區已存有之病患基本資料（姓名、性別、英文姓名、出生日期、電話號碼、郵遞區號）將為您一併儲存於（林口兒童）院區，如基本資料之聯絡電話、住址需要異動時，則請您於就診當日看診後，至繳費櫃檯更新相關資訊（更動姓名、戶籍、地址時，則請攜帶身分證正本以供核對），如果您選擇「取消」，則請您於看診前半小時，先至掛號繳費櫃檯辦理手續。

      .cross_bottom.pt24.pb32.pr12.pl12
        button(type="submit" form="profile").btn.f18.btn-main.mr8 確定
        a.btn.f18.btn-main.modal-close 取消

