
extends ./include/layout.pug

block content

  include ./include/nav.pug

  .index

    .index__landing(style="background-image: url('./styles/images/0-bgc.jpg')").pt88

      .container
        h2.title.pb40 網路掛號流程
        //- img(src="./styles/images/1-12.png", alt="長庚醫療財團法人").flow 
        
        .flow 
          svg(width="100%" height="100%" viewbox="0 0 993 187" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;")
            g(transform="matrix(1,0,0,1,-528.413,-273.459)")
              g(transform="matrix(1,0,0,1,20,-2)")
                g(transform="matrix(1,0,0,1,167.695,-469.973)")
                  text(x="353.876px" y="930.618px" style="letter-spacing: 2px; font-weight:600;font-size:20px;fill:rgb(51,51,51);") 選擇看診院區
                g(transform="matrix(1,0,0,1,377.276,-469.973)")
                  text(x="353.876px" y="930.618px" style="letter-spacing: 2px; font-weight:600;font-size:20px;fill:rgb(51,51,51);") 選擇看診科別
                g(transform="matrix(1,0,0,1,586.377,-469.973)")
                  text(x="353.876px" y="930.618px" style="letter-spacing: 2px; font-weight:600;font-size:20px;fill:rgb(51,51,51);") 選擇看診醫師
                g(transform="matrix(1,0,0,1,795.821,-469.973)")
                  text(x="353.876px" y="930.618px" style="letter-spacing: 2px; font-weight:600;font-size:20px;fill:rgb(51,51,51);") 填寫個人資料
                g(transform="matrix(1,0,0,1,1005.36,-469.973)")
                  text(x="353.876px" y="930.618px" style="letter-spacing: 2px; font-weight:600;font-size:20px;fill:rgb(51,51,51);") 網路掛號完成
                g(transform="matrix(1,0,0,1,868.981,350.459)")
                  path(d="M0,0C0,41.421 -33.579,75 -75,75C-116.421,75 -150,41.421 -150,0C-150,-41.422 -116.421,-75 -75,-75C-33.579,-75 0,-41.422 0,0" style="fill:rgb(65,188,196);fill-rule:nonzero;")
                g(transform="matrix(1,0,0,1,1079.55,350.459)")
                  path(d="M0,0C0,41.421 -33.579,75 -75,75C-116.421,75 -150,41.421 -150,0C-150,-41.422 -116.421,-75 -75,-75C-33.579,-75 0,-41.422 0,0" style="fill:rgb(147,183,75);fill-rule:nonzero;")
                g(transform="matrix(1,0,0,1,1290.11,350.459)")
                  path(d="M0,0C0,41.421 -33.578,75 -75,75C-116.421,75 -150,41.421 -150,0C-150,-41.422 -116.421,-75 -75,-75C-33.578,-75 0,-41.422 0,0" style="fill:rgb(223,181,115);fill-rule:nonzero;")
                g(transform="matrix(1,0,0,1,1500.68,350.459)")
                  path(d="M0,0C0,41.421 -33.579,75 -75,75C-116.421,75 -150,41.421 -150,0C-150,-41.422 -116.421,-75 -75,-75C-33.579,-75 0,-41.422 0,0" style="fill:rgb(245,135,41);fill-rule:nonzero;")
                g(transform="matrix(0.807227,0,0,0.807227,563.632,262.471)")
                  g(transform="matrix(1,0,0,1,279.204,122.754)")
                    path(d="M0,-18.784C-1.736,-18.784 -3.428,-17.891 -4.416,-16.456C-5.376,-15.049 -5.539,-13.325 -4.871,-11.594C-2.068,-4.347 3.945,-0.237 5.889,0.941C7.621,0.103 12.574,-2.712 16.144,-8.954C16.444,-9.479 16.733,-10.024 17.01,-10.597C18.238,-13.124 17.31,-15.507 16.029,-16.894C13.672,-19.472 9.759,-19.334 7.044,-16.155C6.739,-15.8 6.217,-15.598 5.83,-15.618C5.364,-15.63 4.929,-15.855 4.648,-16.226C3.044,-18.342 1.233,-18.784 0,-18.784M5.799,4.202C5.554,4.202 5.312,4.147 5.091,4.032C4.724,3.843 -3.977,-0.743 -7.74,-10.487C-8.772,-13.151 -8.484,-15.962 -6.954,-18.195C-4.151,-22.263 2.146,-22.986 5.921,-19.409C8.143,-21.389 10.368,-21.847 11.946,-21.847C14.306,-21.847 16.622,-20.804 18.298,-18.981C20.804,-16.254 21.373,-12.527 19.78,-9.254C19.476,-8.617 19.147,-8.009 18.816,-7.428C13.863,1.237 6.641,3.996 6.332,4.108C6.162,4.17 5.98,4.202 5.799,4.202" style="fill:white;fill-rule:nonzero;")
                  g(transform="matrix(1,0,0,1,312.211,81.4571)")
                    path(d="M0,64.932L-53.819,64.932C-55.112,64.932 -56.326,64.43 -57.235,63.517C-58.148,62.608 -58.65,61.394 -58.65,60.101L-58.65,4.819C-58.65,3.535 -58.148,2.325 -57.239,1.415C-56.33,0.502 -55.12,0 -53.835,0L-49.748,0C-48.74,0 -47.917,0.824 -47.917,1.831C-47.917,2.839 -48.74,3.661 -49.748,3.661L-53.835,3.661C-54.144,3.661 -54.432,3.78 -54.654,4.001C-54.871,4.218 -54.99,4.511 -54.99,4.819L-54.99,60.101C-54.99,60.417 -54.871,60.71 -54.65,60.932C-54.428,61.153 -54.136,61.272 -53.819,61.272L0,61.272C0.344,61.272 0.672,61.137 0.921,60.892C1.222,60.587 1.285,60.233 1.285,59.987L1.285,4.827C1.285,4.515 1.167,4.227 0.949,4.009C0.72,3.78 0.431,3.661 0.119,3.661L-4.332,3.661C-5.344,3.661 -6.163,2.839 -6.163,1.831C-6.163,0.824 -5.344,0 -4.332,0L0.119,0C1.411,0 2.625,0.506 3.534,1.424C4.439,2.321 4.945,3.535 4.945,4.827L4.945,59.987C4.945,61.307 4.431,62.548 3.502,63.481C2.554,64.422 1.312,64.932 0,64.932" style="fill:white;fill-rule:nonzero;")
                  g(transform="matrix(1,0,0,1,269.886,74.5372)")
                    path(d="M0,15.514L30.944,15.514L29.884,7.624L22.077,7.624C21.271,7.624 20.615,6.968 20.615,6.161C20.615,6.095 20.619,6.028 20.63,5.952L20.63,5.158C20.63,2.312 18.318,-0.002 15.472,-0.002C12.63,-0.002 10.317,2.312 10.317,5.158L10.317,5.956C10.329,6.028 10.333,6.095 10.333,6.161C10.333,6.968 9.677,7.624 8.87,7.624L1.063,7.624L0,15.514ZM32.616,18.44L-1.672,18.44C-2.095,18.44 -2.494,18.258 -2.775,17.941C-3.052,17.621 -3.179,17.198 -3.123,16.784L-1.668,5.968C-1.569,5.241 -0.949,4.699 -0.218,4.699L7.403,4.699C7.645,0.453 11.171,-2.926 15.472,-2.926C19.777,-2.926 23.302,0.453 23.543,4.699L31.165,4.699C31.896,4.699 32.517,5.241 32.616,5.968L34.066,16.784C34.122,17.202 33.995,17.621 33.718,17.941C33.438,18.258 33.039,18.44 32.616,18.44" style="fill:white;fill-rule:nonzero;")
                  g(transform="matrix(1,0,0,1,287.52,79.4701)")
                    path(d="M0,0.003C0,1.265 -1.023,2.288 -2.285,2.288C-3.546,2.288 -4.569,1.265 -4.569,0.003C-4.569,-1.258 -3.546,-2.285 -2.285,-2.285C-1.023,-2.285 0,-1.258 0,0.003" style="fill:white;fill-rule:nonzero;")
                  g(transform="matrix(1,0,0,1,302.882,132.605)")
                    path(d="M0,2.926L-35.051,2.926C-35.857,2.926 -36.514,2.27 -36.514,1.463C-36.514,0.656 -35.857,0 -35.051,0L0,0C0.806,0 1.462,0.656 1.462,1.463C1.462,2.27 0.806,2.926 0,2.926" style="fill:white;fill-rule:nonzero;")
                g(transform="matrix(0.807227,0,0,0.807227,681.941,262.472)")
                  g(transform="matrix(1,0,0,1,950.232,119.924)")
                    path(d="M0,3.66L-14.452,3.66C-15.46,3.66 -16.283,2.838 -16.283,1.83C-16.283,0.821 -15.46,0 -14.452,0L0,0C1.008,0 1.829,0.821 1.829,1.83C1.829,2.838 1.008,3.66 0,3.66" style="fill:white;fill-rule:nonzero;")
                  g(transform="matrix(1,0,0,1,943.005,112.703)")
                    path(d="M0,18.108C-1.008,18.108 -1.83,17.285 -1.83,16.277L-1.83,1.83C-1.83,0.821 -1.008,0 0,0C1.008,0 1.831,0.821 1.831,1.83L1.831,16.277C1.831,17.285 1.008,18.108 0,18.108" style="fill:white;fill-rule:nonzero;")
                  g(transform="matrix(1,0,0,1,943.005,134.423)")
                    path(d="M0,-25.334C-6.984,-25.334 -12.67,-19.654 -12.67,-12.669C-12.67,-5.685 -6.984,0 0,0C6.985,0 12.669,-5.685 12.669,-12.669C12.669,-19.654 6.985,-25.334 0,-25.334M0,2.83C-8.546,2.83 -15.5,-4.123 -15.5,-12.669C-15.5,-21.215 -8.546,-28.164 0,-28.164C8.546,-28.164 15.499,-21.215 15.499,-12.669C15.499,-4.123 8.546,2.83 0,2.83" style="fill:white;fill-rule:nonzero;")
                  g(transform="matrix(1,0,0,1,927.676,85.4089)")
                    path(d="M0,52.946L-35.435,52.946C-39.869,52.946 -43.475,49.341 -43.475,44.897L-43.475,8.049C-43.475,3.613 -39.869,0 -35.435,0L4.554,0C8.988,0 12.602,3.613 12.602,8.049L12.602,14.468C12.602,15.48 11.787,16.294 10.775,16.294C9.764,16.294 8.941,15.48 8.941,14.468L8.941,8.049C8.941,5.63 6.973,3.66 4.554,3.66L-35.435,3.66C-37.854,3.66 -39.822,5.63 -39.822,8.049L-39.822,44.897C-39.822,47.324 -37.854,49.285 -35.435,49.285L0,49.285C1.004,49.285 1.835,50.099 1.835,51.111C1.835,52.124 1.004,52.946 0,52.946" style="fill:white;fill-rule:nonzero;")
                  g(transform="matrix(1,0,0,1,900.914,79.6447)")
                    path(d="M0,15.385C-1.21,15.385 -2.189,14.405 -2.189,13.196L-2.189,2.191C-2.189,0.981 -1.21,0 0,0C1.209,0 2.189,0.981 2.189,2.191L2.189,13.196C2.189,14.405 1.209,15.385 0,15.385" style="fill:white;fill-rule:nonzero;")
                  g(transform="matrix(1,0,0,1,925.178,79.6447)")
                    path(d="M0,15.385C-1.21,15.385 -2.19,14.405 -2.19,13.196L-2.19,2.191C-2.19,0.981 -1.21,0 0,0C1.209,0 2.189,0.981 2.189,2.191L2.189,13.196C2.189,14.405 1.209,15.385 0,15.385" style="fill:white;fill-rule:nonzero;")
                  g(transform="matrix(1,0,0,1,938.451,98.9596)")
                    path(d="M0,2.783L-52.424,2.783C-53.198,2.783 -53.815,2.166 -53.815,1.391C-53.815,0.616 -53.198,0 -52.424,0L0,0C0.768,0 1.384,0.616 1.384,1.391C1.384,2.166 0.768,2.783 0,2.783" style="fill:white;fill-rule:nonzero;")
                  g(transform="matrix(-1,-0,0,1,1792.86,37.675)")
                    rect(x="894.124" y="70.866" width="4.609" height="4.593" style="fill:white;")
                  g(transform="matrix(-1,-0,0,1,1813.13,37.883)")
                    rect(x="904.259" y="70.762" width="4.609" height="4.593" style="fill:white;")
                  g(transform="matrix(-1,-0,0,1,1833,37.675)")
                    rect(x="914.197" y="70.866" width="4.609" height="4.593" style="fill:white;")
                  g(transform="matrix(-1,-0,0,1,1792.34,59.512)")
                    rect(x="893.863" y="59.947" width="4.616" height="4.594" style="fill:white;")
                  g(transform="matrix(-1,-0,0,1,1812.61,59.718)")
                    rect(x="904.006" y="59.844" width="4.601" height="4.594" style="fill:white;")
                  g(transform="matrix(-1,-0,0,1,1832.48,59.512)")
                    rect(x="913.936" y="59.947" width="4.609" height="4.594" style="fill:white;")
                g(transform="matrix(0.807227,0,0,0.807227,603.973,262.472)")
                  g(transform="matrix(1,0,0,1,473.109,112.073)")
                    path(d="M0,25.962L46.254,25.962C45.622,10.118 36.684,-0.018 23.129,-0.018C9.57,-0.018 0.636,10.118 0,25.962M48.12,29.631L-1.866,29.631C-2.874,29.631 -3.696,28.808 -3.696,27.796C-3.696,8.68 6.835,-3.669 23.129,-3.669C39.419,-3.669 49.95,8.68 49.95,27.796C49.95,28.808 49.128,29.631 48.12,29.631" style="fill:white;fill-rule:nonzero;")
                  g(transform="matrix(1,0,0,1,496.234,108.394)")
                    path(d="M0,-28.437C-7.831,-28.437 -14.203,-22.065 -14.203,-14.23C-14.203,-6.363 -7.831,0.009 0,0.009C4.107,0.009 8.028,-1.833 10.76,-5.036C10.878,-5.17 11.012,-5.289 11.163,-5.383C13.393,-7.661 14.195,-10 14.203,-14.159C14.195,-18.444 13.384,-20.792 11.135,-23.077C10.993,-23.171 10.866,-23.274 10.76,-23.401C8.028,-26.602 4.107,-28.437 0,-28.437M0,3.661C-9.851,3.661 -17.864,-4.356 -17.864,-14.207C-17.864,-24.081 -9.851,-32.098 0,-32.098C5.06,-32.098 9.89,-29.892 13.305,-26.049C13.372,-25.994 13.436,-25.947 13.495,-25.891C17.104,-22.357 17.851,-18.697 17.863,-14.278C17.851,-9.739 17.104,-6.079 13.495,-2.538C13.432,-2.481 13.364,-2.426 13.294,-2.379C9.878,1.463 5.056,3.661 0,3.661" style="fill:white;fill-rule:nonzero;")
                  g(transform="matrix(1,0,0,1,495.779,95.4279)")
                    path(d="M0,-10.363C-2.858,-10.363 -5.182,-8.039 -5.182,-5.176C-5.182,-2.323 -2.858,0.001 0,0.001C2.858,0.001 5.182,-2.323 5.182,-5.176C5.182,-8.039 2.858,-10.363 0,-10.363M0,2.325C-4.139,2.325 -7.506,-1.043 -7.506,-5.176C-7.506,-9.319 -4.139,-12.688 0,-12.688C4.139,-12.688 7.507,-9.319 7.507,-5.176C7.507,-1.043 4.139,2.325 0,2.325" style="fill:white;fill-rule:nonzero;")
                  g(transform="matrix(1,0,0,1,489.434,86.6462)")
                    path(d="M0,2.324L-7.917,2.324C-8.558,2.324 -9.08,1.794 -9.08,1.154C-9.08,0.513 -8.558,0 -7.917,0L0,0C0.641,0 1.163,0.513 1.163,1.154C1.163,1.794 0.641,2.324 0,2.324" style="fill:white;fill-rule:nonzero;")
                  g(transform="matrix(1,0,0,1,489.434,91.3746)")
                    path(d="M0,2.244L-9.143,2.244C-9.763,2.244 -10.269,1.738 -10.269,1.122C-10.269,0.506 -9.763,0 -9.143,0L0,0C0.621,0 1.127,0.506 1.127,1.122C1.127,1.738 0.621,2.244 0,2.244" style="fill:white;fill-rule:nonzero;")
                  g(transform="matrix(1,0,0,1,510.694,86.6462)")
                    path(d="M0,2.324L-7.917,2.324C-8.558,2.324 -9.08,1.794 -9.08,1.154C-9.08,0.513 -8.558,0 -7.917,0L0,0C0.641,0 1.162,0.513 1.162,1.154C1.162,1.794 0.641,2.324 0,2.324" style="fill:white;fill-rule:nonzero;")
                  g(transform="matrix(1,0,0,1,511.54,91.612)")
                    path(d="M0,2.324L-9.712,2.324C-10.353,2.324 -10.875,1.802 -10.875,1.169C-10.875,0.52 -10.353,0 -9.712,0L0,0C0.64,0 1.162,0.52 1.162,1.169C1.162,1.802 0.64,2.324 0,2.324" style="fill:white;fill-rule:nonzero;")
                  g(transform="matrix(1,0,0,1,497.61,90.2424)")
                    path(d="M0,0.009C0,1.021 -0.819,1.835 -1.831,1.835C-2.843,1.835 -3.661,1.021 -3.661,0.009C-3.661,-1.003 -2.843,-1.826 -1.831,-1.826C-0.819,-1.826 0,-1.003 0,0.009" style="fill:white;fill-rule:nonzero;")
                  g(transform="matrix(1,0,0,1,512.374,130.896)")
                    path(d="M0,0.008C0,1.344 -1.083,2.427 -2.423,2.427C-3.763,2.427 -4.842,1.344 -4.842,0.008C-4.842,-1.336 -3.763,-2.419 -2.423,-2.419C-1.083,-2.419 0,-1.336 0,0.008" style="fill:white;fill-rule:nonzero;")
                  g(transform="matrix(1,0,0,1,495.779,96.9713)")
                    path(d="M0,26.785C-0.178,26.785 -0.355,26.753 -0.529,26.682L-24.224,17.187C-24.761,16.973 -25.117,16.452 -25.117,15.867L-25.117,1.423C-25.117,0.633 -24.48,0 -23.693,0L-20.164,0C-19.377,0 -18.741,0.633 -18.741,1.423C-18.741,2.205 -19.377,2.838 -20.164,2.838L-22.271,2.838L-22.271,14.911L0.529,24.034C1.257,24.326 1.613,25.157 1.32,25.884C1.1,26.445 0.565,26.785 0,26.785" style="fill:white;fill-rule:nonzero;")
                  g(transform="matrix(1,0,0,1,496.657,96.9713)")
                    path(d="M0,26.785C-0.561,26.785 -1.091,26.445 -1.316,25.9C-1.612,25.165 -1.265,24.334 -0.538,24.042L21.781,14.911L21.781,2.838L19.437,2.838C18.65,2.838 18.014,2.205 18.014,1.423C18.014,0.633 18.65,0 19.437,0L23.204,0C23.991,0 24.627,0.633 24.627,1.423L24.627,15.867C24.627,16.444 24.275,16.973 23.742,17.187L0.538,26.675C0.364,26.746 0.178,26.785 0,26.785" style="fill:white;fill-rule:nonzero;")
                  g(transform="matrix(1,0,0,1,503.744,120.911)")
                    path(d="M0,11.985L-7.088,11.985C-7.875,11.985 -8.511,11.344 -8.511,10.562L-8.511,1.422C-8.511,0.631 -7.875,0 -7.088,0C-6.301,0 -5.665,0.631 -5.665,1.422L-5.665,9.138L0,9.138C0.787,9.138 1.423,9.771 1.423,10.562C1.423,11.344 0.787,11.985 0,11.985" style="fill:white;fill-rule:nonzero;")
                g(transform="matrix(0.807227,0,0,0.807227,646.475,262.472)")
                  g(transform="matrix(1,0,0,1,725.052,77.9024)")
                    path(d="M0,65.974L-41.23,65.974C-45.419,65.974 -48.825,62.404 -48.825,58.02L-48.825,7.954C-48.825,3.569 -45.419,0 -41.23,0L-30.275,0C-29.23,0 -28.38,0.851 -28.38,1.895C-28.38,2.943 -29.23,3.79 -30.275,3.79L-41.23,3.79C-43.327,3.79 -45.034,5.658 -45.034,7.954L-45.034,58.02C-45.034,60.316 -43.327,62.184 -41.23,62.184L0,62.184C2.097,62.184 3.799,60.316 3.799,58.02L3.799,7.954C3.799,5.658 2.097,3.79 0,3.79L-10.391,3.79C-11.438,3.79 -12.286,2.943 -12.286,1.895C-12.286,0.851 -11.438,0 -10.391,0L0,0C4.184,0 7.591,3.569 7.591,7.954L7.591,58.02C7.591,62.404 4.184,65.974 0,65.974" style="fill:white;fill-rule:nonzero;")
                  g(transform="matrix(1,0,0,1,691.936,74.1236)")
                    path(d="M0,12.412C-0.844,12.412 -1.531,11.729 -1.531,10.881L-1.531,1.531C-1.531,0.683 -0.844,0 0,0C0.844,0 1.531,0.683 1.531,1.531L1.531,10.881C1.531,11.729 0.844,12.412 0,12.412" style="fill:white;fill-rule:nonzero;")
                  g(transform="matrix(1,0,0,1,703.731,74.1236)")
                    path(d="M0,12.412C-0.844,12.412 -1.531,11.729 -1.531,10.881L-1.531,1.531C-1.531,0.683 -0.844,0 0,0C0.843,0 1.53,0.683 1.53,1.531L1.53,10.881C1.53,11.729 0.843,12.412 0,12.412" style="fill:white;fill-rule:nonzero;")
                  g(transform="matrix(1,0,0,1,716.201,74.1236)")
                    path(d="M0,12.412C-0.844,12.412 -1.531,11.729 -1.531,10.881L-1.531,1.531C-1.531,0.683 -0.844,0 0,0C0.844,0 1.531,0.683 1.531,1.531L1.531,10.881C1.531,11.729 0.844,12.412 0,12.412" style="fill:white;fill-rule:nonzero;")
                  g(transform="matrix(1,0,0,1,715.333,77.8905)")
                    path(d="M0,3.815L-22.726,3.815C-23.778,3.815 -24.634,2.959 -24.634,1.907C-24.634,0.854 -23.778,0 -22.726,0L0,0C1.052,0 1.907,0.854 1.907,1.907C1.907,2.959 1.052,3.815 0,3.815" style="fill:white;fill-rule:nonzero;")
                  g(transform="matrix(1,0,0,1,702.986,104.566)")
                    path(d="M0,3.791L-14.968,3.791C-16.012,3.791 -16.863,2.939 -16.863,1.895C-16.863,0.852 -16.012,0 -14.968,0L0,0C1.044,0 1.896,0.852 1.896,1.895C1.896,2.939 1.044,3.791 0,3.791" style="fill:white;fill-rule:nonzero;")
                  g(transform="matrix(1,0,0,1,695.502,97.0824)")
                    path(d="M0,18.755C-1.044,18.755 -1.896,17.902 -1.896,16.859L-1.896,1.896C-1.896,0.852 -1.044,0 0,0C1.043,0 1.895,0.852 1.895,1.896L1.895,16.859C1.895,17.902 1.043,18.755 0,18.755" style="fill:white;fill-rule:nonzero;")
                  g(transform="matrix(1,0,0,1,721.409,122.141)")
                    path(d="M0,2.433L-32.629,2.433C-33.301,2.433 -33.845,1.888 -33.845,1.216C-33.845,0.545 -33.301,0 -32.629,0L0,0C0.671,0 1.216,0.545 1.216,1.216C1.216,1.888 0.671,2.433 0,2.433" style="fill:white;fill-rule:nonzero;")
                  g(transform="matrix(1,0,0,1,721.719,112.759)")
                    path(d="M0,2.366L-11.046,2.366C-11.7,2.366 -12.229,1.838 -12.229,1.183C-12.229,0.528 -11.7,0 -11.046,0L0,0C0.656,0 1.184,0.528 1.184,1.183C1.184,1.838 0.656,2.366 0,2.366" style="fill:white;fill-rule:nonzero;")
                  g(transform="matrix(1,0,0,1,721.719,105.279)")
                    path(d="M0,2.366L-11.046,2.366C-11.7,2.366 -12.229,1.838 -12.229,1.182C-12.229,0.528 -11.7,0 -11.046,0L0,0C0.656,0 1.184,0.528 1.184,1.182C1.184,1.838 0.656,2.366 0,2.366" style="fill:white;fill-rule:nonzero;")
                  g(transform="matrix(1,0,0,1,721.719,97.7946)")
                    path(d="M0,2.366L-11.046,2.366C-11.7,2.366 -12.229,1.839 -12.229,1.183C-12.229,0.528 -11.7,0 -11.046,0L0,0C0.656,0 1.184,0.528 1.184,1.183C1.184,1.839 0.656,2.366 0,2.366" style="fill:white;fill-rule:nonzero;")
                  g(transform="matrix(1,0,0,1,721.409,130.034)")
                    path(d="M0,2.433L-32.629,2.433C-33.301,2.433 -33.845,1.888 -33.845,1.217C-33.845,0.545 -33.301,0 -32.629,0L0,0C0.671,0 1.216,0.545 1.216,1.217C1.216,1.888 0.671,2.433 0,2.433" style="fill:white;fill-rule:nonzero;")
                g(transform="matrix(1,0,0,1,658.413,350.459)")
                  path(d="M0,0C0,41.421 -33.579,75 -75,75C-116.421,75 -150,41.421 -150,0C-150,-41.422 -116.421,-75 -75,-75C-33.579,-75 0,-41.422 0,0" style="fill:rgb(105,173,215);fill-rule:nonzero;")
                g(transform="matrix(0.665383,0,0,0.665383,583.423,330.983)")
                  path(d="M0,58.542L0,63.571C-11.145,63.571 -21.159,58.227 -27.439,49.875C-32.708,42.679 -41.391,37.94 -51.087,37.94L-51.494,37.94L-51.494,32.768L-50.972,32.768C-39.712,32.768 -29.726,38.23 -23.417,46.695C-18.061,53.805 -9.493,58.542 0,58.542M0,5.288L-10.333,5.288L-10.333,18.983L-24.052,18.983L-24.052,39.588L-10.333,39.588L-10.333,53.369L0,53.369L0,46.494L-3.414,46.494L-3.414,36.177L-3.414,32.768L-6.802,32.768L-17.136,32.768L-17.136,25.89L-3.414,25.89L-3.414,22.481L-3.414,12.194L0,12.194L0,5.288ZM0,0.143C-9.493,0.143 -18.061,4.767 -23.417,11.962C-29.726,20.428 -39.712,25.89 -50.972,25.89L-51.494,25.89L-51.494,20.717L-51.087,20.717C-41.391,20.717 -32.708,15.978 -27.439,8.667C-21.159,0.433 -11.145,-5.029 0,-5.029L0,0.143ZM0,53.369L10.219,53.369L10.219,39.588L24.026,39.588L24.026,18.983L10.219,18.983L10.219,5.288L0,5.288L0,12.194L3.387,12.194L3.387,25.89L17.107,25.89L17.107,32.768L3.387,32.768L3.387,46.494L0,46.494L0,53.369ZM0,63.571L0,58.542C9.495,58.542 18.062,53.805 23.417,46.695C29.699,38.23 39.713,32.768 51.059,32.768L51.465,32.768L51.465,37.94L51.059,37.94C41.364,37.94 32.794,42.679 27.44,49.875C21.131,58.227 11.145,63.571 0,63.571M0,-5.029C11.145,-5.029 21.131,0.433 27.44,8.783C32.794,15.978 41.364,20.717 51.059,20.717L51.465,20.717L51.465,25.89L51.059,25.89C39.713,25.89 29.699,20.428 23.417,11.962C18.062,4.767 9.495,0.143 0,0.143L0,-5.029Z" style="fill:white;")
                g(transform="matrix(1,0,0,1,508.414,334.459)")
                  g(transform="matrix(1,0,0,1,194.43,16.1284)")
                    path(d="M0,6L-33.481,6C-35.139,6 -36.481,4.657 -36.481,3C-36.481,1.344 -35.139,0 -33.481,0L0,0C1.657,0 3,1.344 3,3C3,4.657 1.657,6 0,6" style="fill:rgb(105,173,215);fill-rule:nonzero;")
                  g(transform="matrix(1,0,0,1,180.643,5.7048)")
                    path(d="M0,26.446C-0.93,26.446 -1.845,26.015 -2.432,25.206C-3.404,23.864 -3.105,21.989 -1.764,21.016L8.713,13.424L-1.764,5.831C-3.105,4.858 -3.404,2.982 -2.432,1.64C-1.461,0.3 0.414,0 1.758,0.972L15.586,10.994C16.364,11.559 16.825,12.463 16.825,13.424C16.825,14.384 16.364,15.289 15.586,15.853L1.758,25.875C1.226,26.26 0.609,26.446 0,26.446" style="fill:rgb(105,173,215);fill-rule:nonzero;")
                g(transform="matrix(1,0,0,1,508.414,334.459)")
                  g(transform="matrix(1,0,0,1,404.43,16.1284)")
                    path(d="M0,6L-33.481,6C-35.139,6 -36.481,4.657 -36.481,3C-36.481,1.344 -35.139,0 -33.481,0L0,0C1.657,0 3,1.344 3,3C3,4.657 1.657,6 0,6" style="fill:rgb(65,188,196);fill-rule:nonzero;")
                  g(transform="matrix(1,0,0,1,390.643,5.7048)")
                    path(d="M0,26.446C-0.93,26.446 -1.845,26.015 -2.432,25.206C-3.404,23.864 -3.105,21.989 -1.764,21.016L8.713,13.424L-1.764,5.831C-3.105,4.858 -3.404,2.982 -2.432,1.64C-1.461,0.3 0.414,0 1.758,0.972L15.586,10.994C16.364,11.559 16.825,12.463 16.825,13.424C16.825,14.384 16.364,15.289 15.586,15.853L1.758,25.875C1.226,26.26 0.609,26.446 0,26.446" style="fill:rgb(65,188,196);fill-rule:nonzero;")
                g(transform="matrix(1,0,0,1,508.414,334.459)")
                  g(transform="matrix(1,0,0,1,618.43,16.1284)")
                    path(d="M0,6L-33.481,6C-35.139,6 -36.481,4.657 -36.481,3C-36.481,1.344 -35.139,0 -33.481,0L0,0C1.657,0 3,1.344 3,3C3,4.657 1.657,6 0,6" style="fill:rgb(147,183,75);fill-rule:nonzero;")
                  g(transform="matrix(1,0,0,1,604.643,5.7048)")
                    path(d="M0,26.446C-0.93,26.446 -1.845,26.015 -2.432,25.206C-3.404,23.864 -3.105,21.989 -1.764,21.016L8.713,13.424L-1.764,5.831C-3.105,4.858 -3.404,2.982 -2.432,1.64C-1.461,0.3 0.414,0 1.758,0.972L15.586,10.994C16.364,11.559 16.825,12.463 16.825,13.424C16.825,14.384 16.364,15.289 15.586,15.853L1.758,25.875C1.226,26.26 0.609,26.446 0,26.446" style="fill:rgb(147,183,75);fill-rule:nonzero;")
                g(transform="matrix(1,0,0,1,508.414,334.459)")
                  g(transform="matrix(1,0,0,1,828.43,16.1284)")
                    path(d="M0,6L-33.481,6C-35.139,6 -36.481,4.657 -36.481,3C-36.481,1.344 -35.139,0 -33.481,0L0,0C1.657,0 3,1.344 3,3C3,4.657 1.657,6 0,6" style="fill:rgb(223,181,115);fill-rule:nonzero;")
                  g(transform="matrix(1,0,0,1,814.643,5.7048)")
                    path(d="M0,26.446C-0.93,26.446 -1.845,26.015 -2.432,25.206C-3.404,23.864 -3.105,21.989 -1.764,21.016L8.713,13.424L-1.764,5.831C-3.105,4.858 -3.404,2.982 -2.432,1.64C-1.461,0.3 0.414,0 1.758,0.972L15.586,10.994C16.364,11.559 16.825,12.463 16.825,13.424C16.825,14.384 16.364,15.289 15.586,15.853L1.758,25.875C1.226,26.26 0.609,26.446 0,26.446" style="fill:rgb(223,181,115);fill-rule:nonzero;")

          
        ul.lh20.mt32.nostyle

          li 
            span.red 點選院區、科別後，即可看見該科看診醫師一個月內門診時間之列表。
            | 實體紙本門診時刻表，請親至各分院相關服務櫃台索取。	
          li 出現用戶端憑證（SSL）不被信任或者無效的解決方法，請連結：
            a(href="https://gca.nat.gov.tw/web2/index.html", title="政府憑證總管理中心", target="_blank").link.under 政府憑證總管理中心（異常說明）
            | 。	
          li 預約掛號後未能來院看診時，請於一天前以電話取消，若三個月內有三次未到診紀錄者暫停受理電話預約掛號，請至掛號櫃檯辦理掛號。	
          li 就醫時請攜帶健保卡，未貼照片者需攜帶身分證明文件，若為尚未報戶口之新生兒請攜帶出生證明以供核對。	
          li 
            span.red 初診病人請於預定看診時間前半小時持身分證件（身分證、駕照、戶口名簿或戶籍謄本，外國人請持居留證或護照）至掛號櫃檯填寫初診資料表及辦理手續。	
          li 參考預定看診時間至診室依序號候診，看診後始繳掛號費。	
          li 十八歲（含）以下者請掛兒童相關專科看診。	
          li 初診病患無法掛號的解決方法，請連結重設網際網路安全性設定
          
    .index__catalog.pb88
      .container

        .index__filter.pt40.pb32
          span 各院區掛號系統
          a.btn.active 北區
          a.btn 中區
          a.btn 南區

        .card-wrapper
          .card
            img(src="./styles/images/1-1.png", alt="長庚醫療財團法人")
            .title 基隆長庚
            .toggle
              a(href="#").btn 網路掛號
              a(href="#").btn 查詢看診進度
              a(href="#").btn 掛號查詢與取消
              a(href="#").btn 門診表下載
            
          .card 
            img(src="./styles/images/1-2.png", alt="長庚醫療財團法人")
            .title 基隆長庚情人湖院區
            .toggle
              a(href="#").btn 網路掛號
              a(href="#").btn 查詢看診進度
              a(href="#").btn 掛號查詢與取消
              a(href="#").btn 門診表下載

          .card 
            img(src="./styles/images/1-3.png", alt="長庚醫療財團法人")
            .title 長庚診所
            .toggle
              a(href="#").btn 網路掛號
              a(href="#").btn 查詢看診進度
              a(href="#").btn 掛號查詢與取消
              a(href="#").btn 門診表下載

          .card 
            img(src="./styles/images/1-4.png", alt="長庚醫療財團法人")
            .title 台北長庚
            .toggle
              a(href="#").btn 網路掛號
              a(href="#").btn 查詢看診進度
              a(href="#").btn 掛號查詢與取消
              a(href="#").btn 門診表下載

          .card 
            img(src="./styles/images/1-5.png", alt="長庚醫療財團法人")
            .title 林口長庚
            .toggle
              a(href="#").btn 網路掛號
              a(href="#").btn 查詢看診進度
              a(href="#").btn 掛號查詢與取消
              a(href="#").btn 門診表下載

          .card 
            img(src="./styles/images/1-6.png", alt="長庚醫療財團法人")
            .title 桃園長庚
            .toggle
              a(href="#").btn 網路掛號
              a(href="#").btn 查詢看診進度
              a(href="#").btn 掛號查詢與取消
              a(href="#").btn 門診表下載

          .card 
            img(src="./styles/images/1-7.png", alt="長庚醫療財團法人")
            .title 長青院區(護理之家)
            .toggle
              a(href="#").btn 網路掛號
              a(href="#").btn 查詢看診進度
              a(href="#").btn 掛號查詢與取消
              a(href="#").btn 門診表下載

          .card 
            img(src="./styles/images/1-8.png", alt="長庚醫療財團法人")
            .title 雲林長庚
            .toggle
              a(href="#").btn 網路掛號
              a(href="#").btn 查詢看診進度
              a(href="#").btn 掛號查詢與取消
              a(href="#").btn 門診表下載

          .card 
            img(src="./styles/images/1-9.png", alt="長庚醫療財團法人")
            .title 嘉義長庚
            .toggle
              a(href="#").btn 網路掛號
              a(href="#").btn 查詢看診進度
              a(href="#").btn 掛號查詢與取消
              a(href="#").btn 門診表下載

          .card 
            img(src="./styles/images/1-10.png", alt="長庚醫療財團法人")
            .title 高雄長庚
            .toggle
              a(href="#").btn 網路掛號
              a(href="#").btn 查詢看診進度
              a(href="#").btn 掛號查詢與取消
              a(href="#").btn 門診表下載

          .card 
            img(src="./styles/images/1-11.png", alt="長庚醫療財團法人")
            .title 高雄市立鳳山醫院
            .toggle
              a(href="#").btn 網路掛號
              a(href="#").btn 查詢看診進度
              a(href="#").btn 掛號查詢與取消
              a(href="#").btn 門診表下載

    .app_ad.pt40.pb40.tc
      img(src="./styles/images/0-app.jpg", alt="長庚醫療財團法人")






  




