
extends ./include/layout.pug

block content

  include ./include/nav.pug

  .progress

    #dashboard
    
      .dashboard__main
        .dashboard__row

          .icon-1
          span.f20.wide20 基隆長庚紀念醫院

          .dashboard__btn.f18
            a(href="register.html") 網路掛號
            a(href="query.html") 掛號查詢
            a(href="progress.html") 看診進度
            a(href="info.html") 掛號說明

          select
            option(disabled selected hidden) 各院區掛號服務
            option(value="") 基隆長庚紀念醫院
            option(value="") 基隆長庚紀念醫院
            option(value="") 基隆長庚紀念醫院
            option(value="") 基隆長庚紀念醫院
            option(value="") 基隆長庚紀念醫院

    .container.pt40.pr24.pl24

      .f24.b.mb24.pl20 看診進度查詢

      .box-wrapper.mb40.pt20.pb20
        ul.list.nostyle.lh20
          li 看診時間：上午診 08：30～11：30；下午診 13：30～16：30；夜診 17：30～20：00
          li 每個步驟都必須填寫。
          li.red 因每位醫師看診進度不一，故看診進度(即目前診間已看診之診號)僅為參考之用。


    
    .tab-list.f17.container
      a.tab-btn(data-progress-tab="progress-tab-1").active 科別查詢
      a.tab-btn(data-progress-tab="progress-tab-2") 輸入身份資料

    .section.gray.pb56.pt32

      #progress-tab-1.container.tab-pane
        form.progress__controller.pt32.pb32.pr40.pl40
          .row.f15
            span.wide10.mr16 選擇掛號科別

            .wrapper.select
              select.std
                option(value="一般內科" selected) 一般內科

            .wrapper.select
              select.std
                option(value="上午診" selected) 上午診

            button(type="submit").f18 送出查詢

        .md-noPadding.pr24.pl24
          .mt48.pt32(style="border-top: 1px solid #dfdfdf; color: #555")
            //- .f18.mb16.wide10 
            .row.f18.lh20.mb12.mt4.table-title
              span.mr48 看診進度查詢結果
              span 2018/07/16　PM 03:34:56
              
            table.table.wide10.two-tone.forth-type
              thead
                tr
                  th 掛號科別 
                  th 看診位置 
                  th 醫師名 
                  th 目前看診號碼 
              tbody
                tr
                  td(data-title="掛號科別") 一般內科
                  td(data-title="看診位置").fool 
                    div 基隆3樓310-313診室 
                  td(data-title="醫師名") 陳俊宇
                  td(data-title="目前看診號碼").f20.orange 10 
                tr
                  td(data-title="掛號科別") 一般內科
                  td(data-title="看診位置").fool 
                    div 基隆3樓314-315診室
                  td(data-title="醫師名") 陳勇志
                  td(data-title="目前看診號碼").f20.orange 20
                tr
                  td(data-title="掛號科別") 一般內科
                  td(data-title="看診位置").fool 
                    div 基隆3樓316診室
                  td(data-title="醫師名") 黃協賢
                  td(data-title="目前看診號碼").f20.orange 13


      #progress-tab-2.container.tab-pane

        form.lh20

          .progress_checkin.pl24.mb24

            label.radio_unit
              input(type="radio", name="progress_checkin" checked)
              span 
                .f18 複診
                .f15 (請輸入身分證字號、病歷號或居留證號)
            label.radio_unit
              input(type="radio", name="progress_checkin")
              span 
                .f18 初診
                .f15 (請輸入身分證字號、護照號碼、居留證號或入出境許可證號)
            

          .progress_id.pt40.pb40.pr72.pl72

            .row.mb24
              label.radio_unit
                input(type="radio", name="progress_id" checked)
                span 身分證字號
              label.radio_unit
                input(type="radio", name="progress_id")
                span 病歷號
              label.radio_unit
                input(type="radio", name="progress_id")
                span 護照號碼
              label.radio_unit
                input(type="radio", name="progress_id")
                span 居留證號
              label.radio_unit
                input(type="radio", name="progress_id")
                span 入出境許可證號


            input(type="", placeholder="請輸入證號").std.mb16.w100
            .row.mix.mb32
              input(type="", placeholder="請輸入生日").std.w100
              span (範例：出生日期為11月25日，請輸入1125)

            .row.submit
              .g-recaptcha(data-sitekey="6LfQeoMUAAAAAOktn9YIwQ5smXEg3bwq_CeseQd1")
              div
                button(type="submit").btn.f18.mr20.btn-main 查詢
                button(type="reset").btn.f18.btn-main 重新填寫


        //- .progress_result.mt48.pt32(style="border-top: 1px solid #dfdfdf")
        .md-noPadding.pr24.pl24
          .mt48.pt32(style="border-top: 1px solid #dfdfdf")

            .row.f18.lh20.mb12.mt4.table-title
              span.mr48 看診進度查詢結果
              span 2018/07/16   PM 03:34:56
              h2.sr-only 看診進度查詢


            table.table.wide10.two-tone.forth-type
              thead
                tr
                  th 掛號科別 
                  th 看診位置 
                  th 醫師名 
                  th 目前看診號碼 
              tbody
                tr
                  td(data-title="掛號科別") 一般內科
                  td(data-title="看診位置").fool 
                    div 基隆3樓310-313診室 
                  td(data-title="醫師名") 陳俊宇
                  td(data-title="目前看診號碼").f20.orange 10 

            //- table.table.wide10.two-tone.progress
            //-   thead
            //-     tr
            //-       th 掛號科別 
            //-       th 看診位置 
            //-       th 醫師名 
            //-       th 目前看診號碼 

            //-   tbody
            //-     tr 
            //-       td 一般內科
            //-       td 基隆3樓310-313診室
            //-       td 陳俊宇
            //-       td.f20.orange 10

