
extends ./include/layout.pug

block content

  include ./include/nav.pug

  .query

    #dashboard
    
      .dashboard__main
        .dashboard__row

          .icon-1
          span.f20.wide20 基隆長庚紀念醫院

          .dashboard__btn.f18
            a(href="register.html") 網路掛號
            a(href="query.html") 掛號查詢
            a(href="progress.html") 看診進度
            a(href="info.html") 掛號說明

          select
            option(disabled selected hidden) 各院區掛號服務
            option(value="") 基隆長庚紀念醫院
            option(value="") 基隆長庚紀念醫院
            option(value="") 基隆長庚紀念醫院
            option(value="") 基隆長庚紀念醫院
            option(value="") 基隆長庚紀念醫院

    .container.pt40.pr24.pl24

      .f24.b.mb24.pl20 掛號查詢與取消
      h2.sr-only 掛號查詢與取消


      .box-wrapper.mb40.pt20.pb20
        ul.list.nostyle.lh20
          li 欲取消掛號請點選欲取消的診別後按取消即可，但已批價或已看過門診者無法取消。
          li 當日上午診超過 9:00，下午診超過 13:30，夜診超過 17:30 者不可取消掛號。
          li 提醒您：若為初診病患，請提前30分鐘至一樓掛號櫃檯辦理初診手續，並請攜帶身分證件或戶口名簿以供櫃檯核對。

    .section.gray.pb56.pt32

      .container
        form(id="query").lh20

          .progress_checkin.pl24.mb24

            label.radio_unit
              input(type="radio", name="progress_checkin" checked)
              span 
                .f18 複診
                .f15 (請輸入身分證字號、病歷號或居留證號)
            label.radio_unit
              input(type="radio", name="progress_checkin")
              span 
                .f18 初診
                .f15 (請輸入身分證字號、護照號碼、居留證號或入出境許可證號)
            

          .progress_id.pt40.pb40.pr72.pl72

            .row.mb24
              label.radio_unit
                input(type="radio", name="progress_id" checked)
                span 身分證字號
              label.radio_unit
                input(type="radio", name="progress_id")
                span 病歷號
              label.radio_unit
                input(type="radio", name="progress_id")
                span 護照號碼
              label.radio_unit
                input(type="radio", name="progress_id")
                span 居留證號
              label.radio_unit
                input(type="radio", name="progress_id")
                span 入出境許可證號


            input(type="", placeholder="請輸入證號").std.mb16.w100
            .row.mix.mb32
              input(type="", placeholder="請輸入生日").std.w100
              span (範例：出生日期為11月25日，請輸入1125)

            //- .row
            .row.submit
              .g-recaptcha(data-sitekey="6LfQeoMUAAAAAOktn9YIwQ5smXEg3bwq_CeseQd1")
              
              div
                button(type="submit").btn.f18.mr20.btn-main 送出查詢
                button(type="reset").btn.f18.btn-main 重新填寫


        .progress_result.mt48.pt32(style="border-top: 1px solid #dfdfdf")
          .row.f18.lh20.mb12.ml24
            span 初診病患  君，您的掛號資料：

          table.table.wide10.two-tone.query
            thead
              tr
                th 院區
                th 看診日期
                th 診別
                th 科別
                th 醫師姓名	
                th 序號
                th 預定看診時間
                th 是否取消掛號
            tbody
              tr 
                td 基隆
                td.orange 2018-07-20
                td 下午
                td 腎臟科
                td.lg 陳俊宇
                td 23 
                td 15:20
                td.sm 
                  a(href="#modal-cancel" data-lity).btn.cancel 取消掛號

        #modal-cancel.lity-hide
          .cross_head
            img(src="./styles/images/0-logo-white2.png", alt="長庚醫療財團法人")

          .pl40.pr40.pt56.pb56

            .text.f18.lh16.wide10 請您再次確認是否取消此筆掛號

          .cross_bottom.pt24.pb32.pr12.pl12
            button(type="submit", style="margin-right: 8px").btn.f18.btn-main 確定
            a.btn.f18.btn-main.modal-close 取消