
extends ./include/layout.pug

block content

  include ./include/nav.pug

  .symptom

    .landing(style="background-image: url('./styles/images/0-bgc.jpg')").pt88.pb120

      .container.pt80.tc
        h2.title.pb40.wide20 各類疾病相關就診科別參考

        .symptom_index.f20.pt12.pb12.pr48.pl48
          .wrapper
            .bgc-line
            .bgc-line
            .bgc-line
            .bgc-line
            .bgc-line

            a.active 頭痛
            a 臉色蒼白
            a 臉潮紅
            a 臉腫
            a 鼻部症狀
            a 眼部症狀
            a 耳部症狀
            a 口腔部症狀
            a 頸部腫大
            a 咳嗽
            a 喀血
            a 呼吸困難
            a 胸痛
            a 乳房腫痛
            a 手腳麻木
            a 腰酸背痛
            a 關節痛
            a 心跳快
            a 心跳慢
            a 心窩灼熱感
            a 黃疸
            a 嘔吐
            a 吐血
            a 血便
            a 兒童病症
            a 疼痛
            a 腹痛


    .section.gray.pb80.pt40

      .container
        .f28.mb32.title-play
          img(src="./styles/images/0-play.svg")
          span.b 內科

        .suggest.f18
          ul.num-indent.nostyle.pt20.pb24.mb40.lh18
            li 一、頭痛為常見的主訢之一：有許多疾病會引起頭痛，原因很多，依其部位、時間、頻率，性質、強度、進展和有無其他合併症狀代表不同原因。頭痛可分為前頭痛、偏頭痛、後頭痛（枕頭痛）、頂頭痛及緊頭痛（全頭痛）。 
            li 二、常見的疾病有：副鼻竇炎、青光眼、三叉神經痛、牙病、中耳炎、藥物反應、高血壓、尿毒症、腦炎、腦膜炎、腦瘤、睡眠不足、緊張、酒精中毒、頭部外傷、血管病變、感染、貧血等。

          .suggest_refer.ml56
            span.b.wide10 建議看診科別
            span.orange 一般內科（兒科）、高血壓門診、腦神經內科、耳鼻喉科、眼科、一般牙科、疼痛門診

      