
extends ./include/layout.pug

block content

  //- include ./include/nav.pug
  .nav__pad
  #nav
    a(href="index.html").nav__logo
      h1.sr-only 網路掛號系統 - 長庚醫療財團法人
      img(src="./styles/images/0-logo-xl.png", alt="長庚醫療財團法人").all
      img(src="./styles/images/0-logo-mix3.png", alt="長庚醫療財團法人").half
      
    .nav__cover
      a(href="index.html")
        span.icon-1
        span 選擇看診醫院
      a(href="reference.html")
        span.icon-2
        span 我要看哪一科
      a(href="symptom.html").active
        span.icon-3
        span 看診病症參考 
      a
        span.icon-4
        span 就醫指南
      a
        span.icon-5
        span 醫師介紹
      a
        span.icon-6
        span 長庚全球資訊網

    .nav__toggle
      .one
      .two
      .three


  .symptom

    .landing(style="background-image: url('./styles/images/0-bgc.jpg')").pt88.pb120

      .container.pt80.tc
        //- h2.title.pb40.wide20 各類疾病相關就診科別參考
        h2.title.pb40.f32.wide20 各類疾病相關就診科別參考

        .symptom_index.f20.pt12.pb12.pr48.pl48
          .wrapper
            .bgc-line
            .bgc-line
            .bgc-line
            .bgc-line
            .bgc-line
            .bgc-line
            .bgc-line
            .bgc-line
            .bgc-line

            a(href="#symptom_anchor").active 頭痛
            a(href="#symptom_anchor") 臉色蒼白
            a(href="#symptom_anchor") 臉潮紅
            a(href="#symptom_anchor") 臉腫
            a(href="#symptom_anchor") 鼻部症狀
            a(href="#symptom_anchor") 眼部症狀
            a(href="#symptom_anchor") 耳部症狀
            a(href="#symptom_anchor") 口腔部症狀
            a(href="#symptom_anchor") 頸部腫大
            a(href="#symptom_anchor") 咳嗽
            a(href="#symptom_anchor") 喀血
            a(href="#symptom_anchor") 呼吸困難
            a(href="#symptom_anchor") 胸痛
            a(href="#symptom_anchor") 乳房腫痛
            a(href="#symptom_anchor") 手腳麻木
            a(href="#symptom_anchor") 腰酸背痛
            a(href="#symptom_anchor") 關節痛
            a(href="#symptom_anchor") 心跳快
            a(href="#symptom_anchor") 心跳慢
            a(href="#symptom_anchor") 心窩灼熱感
            a(href="#symptom_anchor") 黃疸
            a(href="#symptom_anchor") 嘔吐
            a(href="#symptom_anchor") 吐血
            a(href="#symptom_anchor") 血便
            a(href="#symptom_anchor") 兒童病症
            a(href="#symptom_anchor") 疼痛
            a(href="#symptom_anchor") 腹痛


    .section.gray.pb80.pt40
      #symptom_anchor

      .container
        .f28.mb32.title-play
          img(src="./styles/images/0-play.svg")
          span.b 頭痛

        .suggest.f18
          ul.num-indent.nostyle.pt20.pb24.mb40.lh18.f18
            li 一、頭痛為常見的主訢之一：有許多疾病會引起頭痛，原因很多，依其部位、時間、頻率，性質、強度、進展和有無其他合併症狀代表不同原因。頭痛可分為前頭痛、偏頭痛、後頭痛（枕頭痛）、頂頭痛及緊頭痛（全頭痛）。 
            li 二、常見的疾病有：副鼻竇炎、青光眼、三叉神經痛、牙病、中耳炎、藥物反應、高血壓、尿毒症、腦炎、腦膜炎、腦瘤、睡眠不足、緊張、酒精中毒、頭部外傷、血管病變、感染、貧血等。

          .suggest_refer.ml56
            span.b.wide10 建議看診科別
            span.orange 一般內科（兒科）、高血壓門診、腦神經內科、耳鼻喉科、眼科、一般牙科、疼痛門診

      