
footer.pt56.pb56
  img(src="./styles/images/0-logo-white.png", alt="長庚醫療財團法人")
    
  .footer-wrapper
    
    a(href="register.html")
      img(src="./styles/images/0-play.svg")
      span 選擇看診醫院

    a(href="reference.html")
      img(src="./styles/images/0-play.svg")
      span 我要看哪一科

    a(href="symptom.html")
      img(src="./styles/images/0-play.svg")
      span 看診病症參考 

    a
      img(src="./styles/images/0-play.svg")
      span 就醫指南

    a
      img(src="./styles/images/0-play.svg")
      span 醫師介紹

    a
      img(src="./styles/images/0-play.svg")
      span 長庚全球資訊網

  div.copyright 長庚醫療財團法人 所有,未經授權,禁止轉載.