doctype html
html(lang='zh-TW')
  head
    include ../include/head.pug

  body
    main.wp
      #fixed-cover
      
      block content
      .app_ad.pt40.pb40.tc
        img(src="./styles/images/0-app.jpg", alt="長庚醫療財團法人")
      
      
      include ../include/footer.pug
      
    include ../include/defaultJs.pug  

