.nav__pad

#nav

  a(href="index.html").nav__logo
    h1.sr-only 網路掛號系統 - 長庚醫療財團法人
    
    img(src="./styles/images/0-logo-xl-0201.png", alt="長庚醫療財團法人").all
    img(src="./styles/images/0-logo-sm-0201.png", alt="長庚醫療財團法人").half
    
  .nav__cover
    
    a(href="index.html").active
      span.icon-1
      span 選擇看診醫院

    a(href="reference.html")
      span.icon-2
      span 我要看哪一科

    a(href="symptom.html")
      span.icon-3
      span 看診病症參考 

    a
      span.icon-4
      span 就醫指南

    a
      span.icon-5
      span 醫師介紹

    a
      span.icon-6
      span 長庚全球資訊網


  .nav__toggle
    .one
    .two
    .three


mixin sction-checkin
  .section.gray.pb56
    .container.pt32
      .pr24.pl24.md-noPadding
        .checkin__wrapper.pt32.pr24.pl24
          block 
